name: Build Android APK
on:
  push:
    paths:
      - 'android/**'
      - '.github/workflows/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build with Buildozer
        uses: ArtiomLK/buildozer-action@v1
        id: buildozer
        with:
          workdir: android
          buildozer_version: stable

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: crypto-widget-apk
          path: ${{ steps.buildozer.outputs.filename }}
